In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [80]:
data=pd.read_csv("breast_cancer_dataset.csv",na_values=[-100000])
data

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitosis,class
0,5,1,1,1,2,1.0,3,1,1,2
1,5,4,4,5,7,10.0,3,2,1,2
2,3,1,1,1,2,2.0,3,1,1,2
3,6,8,8,1,3,4.0,3,7,1,2
4,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
564,4,1,1,1,2,1.0,3,2,1,2
565,5,7,10,10,5,10.0,10,10,1,4
566,3,1,2,1,2,1.0,3,1,1,2
567,4,1,1,1,2,3.0,2,1,1,2
568,8,4,4,1,6,10.0,2,5,2,4

In [81]:
data.isna().sum()

clump_thickness                 0
uniformity_of_cell_size         0
uniformity_of_cell_shape        0
marginal_adhesion               0
single_epithelial_cell_size     0
bare_nuclei                    15
bland_chromatin                 0
normal_nucleoli                 0
mitosis                         0
class                           0
dtype: int64

In [82]:
data['bare_nuclei'].fillna(data['bare_nuclei'].mean(),inplace=True)

In [83]:
data.describe(include='all')

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitosis,class
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,4.539543,3.184534,3.265378,2.845343,3.298770,3.785199,3.490334,2.989455,1.637961,2.731107
std,2.896501,3.002236,2.955935,2.873626,2.304775,3.686060,2.324925,3.091315,1.773941,0.964018
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,8.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [84]:
Y=data.pop('class')
cols=data.iloc[:,:9].columns
X=data[cols]
cols

Index(['clump_thickness', 'uniformity_of_cell_size',
       'uniformity_of_cell_shape', 'marginal_adhesion',
       'single_epithelial_cell_size', 'bare_nuclei', 'bland_chromatin',
       'normal_nucleoli', 'mitosis'],
      dtype='object')

In [85]:
#scalar=StandardScaler()
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=100)
scaled_X_train=scalar.fit_transform(X_train)
scaled_X_test=scalar.transform(X_test)

In [86]:
model=LogisticRegression()
model.fit(scaled_X_train,Y_train)
from sklearn.model_selection import cross_val_score
all_accuracies=cross_val_score(estimator=model,X=scaled_X_train,y=Y_train,cv=5)
all_accuracies

C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ARAVIND NACHIAPPAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([0.93478261, 0.97802198, 0.98901099, 0.93406593, 0.95555556])

In [119]:
y_pred=(model.predict_proba(scaled_X_test)[:,1]>=0.41)*1
clean_ups={4:1,2:0}
Y_test.replace(clean_ups,inplace=True)
Y_test

400    1
225    0
321    0
173    1
506    1
      ..
359    1
261    1
37     0
6      0
524    0
Name: class, Length: 114, dtype: int64

In [120]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,y_pred)

0.9667189952904238

In [121]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,y_pred)

array([[62,  3],
       [ 1, 48]], dtype=int64)

In [122]:
from sklearn import metrics
print("Recall:",metrics.recall_score(Y_test,y_pred))
print("Precision:",metrics.precision_score(Y_test,y_pred))
print("Accuracy:",metrics.accuracy_score(Y_test,y_pred))
print("F-score:",metrics.f1_score(Y_test,y_pred))
print("Log-loss",metrics.log_loss(Y_test,y_pred))

Recall: 0.9795918367346939
Precision: 0.9411764705882353
Accuracy: 0.9649122807017544
F-score: 0.96
Log-loss 1.2119079330871352

In [31]:
Y.value_counts()

2    361
4    208
Name: class, dtype: int64